# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# image files
images/CustomIconAndInfoWindow_1.png
images/CustomIconAndInfoWindow_2.png
images/GetLocation_1.png
images/GetLocation_2.png
images/GetLocation_3.png
images/LongitudeToAddress_2.png
images/polygon.png
images/LongitudeToAddress_1.png
images/polyline_destination.png
images/polyline_start.png
images/LongitudeToAddress_3.png
